<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>




  <div class="hero-container">
    <div class="info-side">
      <h3 class="part-1">Szia a nevem , </h3>
      <h1>Megyeri Márk Máté</h1>
      <h3 class="part-2">és <span id="change"> Full-Stack fejlesztő vagyok</span></h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi corrupti reiciendis nobis enim quidem vitae quis veritatis vel iure culpa cupiditate ducimus numquam velit consectetur facere, modi ut, rem id magni saepe alias minus, veniam atque. Laboriosam repellat nobis officiis iusto obcaecati voluptatem! Modi voluptates quis sequi, quidem error facilis.</p>


      <div class="social">
        <a href="https://github.com/megyerimark" target="_blank"><i class='bx bxl-github'    style="--i:7" ></i></a>
        <a href="https://www.instagram.com/thetrasuomark/"><i class='bx bxl-instagram'   style="--i:8"></i></a>
        <a href="https://www.facebook.com/markmate.megyeri/" target="_blank"><i class='bx bxl-facebook-circle'   style="--i:9"></i></a>
        <a href="#"  (click)="openWhatsApp()"><i class='bx bxl-whatsapp' ></i></a>
        <br>
      <button>
        <a href="/assets/Megyeri_Mark_Mate_CV.pdf" download target="blank " class="btn">Önéletrajz letöltése</a>
     </button>
      </div>
    </div>
  </div>

  <div class="services">
    <div class="breakfat">
      <h2>Reggelizni</h2>
      <div class="content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut laborum officia qui quisquam est rem numquam deserunt reprehenderit odio in!</p>
      </div>
    </div>
    </div>
    

</body>
</html>
