
<app-navbar></app-navbar>


  <!DOCTYPE html>
  <html lang="hu">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <span class="loader"></span>




    <div class="hero-container">
      <div class="info-side">
        <h3 class="part-1">Szia a nevem , </h3>
        <h1>Megyeri Márk Máté</h1>
        <h3 class="part-2">és <span id="change"></span></h3>
  <p id="me">Motivált és elkötelezett embernek tartom magam, aki
    Szoftverfejlesztő és - tesztelő szakirányon tanul. Kihívást jelentő
    munkahelyet keresek, hogy bővíthessem ismereteimet az IT terén.</p>


        <div class="social">
          <a href="https://github.com/megyerimark" target="_blank"><i class='bx bxl-github'    style="--i:7" ></i></a>
          <a href="https://www.instagram.com/thetrasuomark/"><i class='bx bxl-instagram'   style="--i:8"></i></a>
          <a href="https://www.facebook.com/markmate.megyeri/" target="_blank"><i class='bx bxl-facebook-circle'   style="--i:9"></i></a>
          <a href="#"  (click)="openWhatsApp()"><i class='bx bxl-whatsapp' ></i></a>
          <br>
        <button id="CV">
          <a href="/assets/Megyeri_Mark_Mate_CV.pdf" download target="blank " class="btn">Önéletrajz letöltése</a>
       </button>
        </div>
      </div>
    </div>



     <div class="services" id="munkaim">
      <div class="firstjob">
        <h2>TreCorte</h2>
        <div class="content">
          <p>A TreCorte, egy kitalált étteremhálózatnak a hivatalos weboldala</p>
        <button class="btn btn-outline-secondary"> TreCorte</button>
        </div>
      </div>
      <!-- <div class="firstjob">
        <h2>TreCorte</h2>
        <div class="content">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut laborum officia qui quisquam est rem numquam deserunt reprehenderit odio in!</p>
        </div>
      </div> -->
      <!-- <div class="firstjob">
        <h2>TreCorte</h2>
        <div class="content">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut laborum officia qui quisquam est rem numquam deserunt reprehenderit odio in!</p>
        </div>
      </div> -->
      <!-- <div class="firstjob">
        <h2>TreCorte</h2>
        <div class="content">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut laborum officia qui quisquam est rem numquam deserunt reprehenderit odio in!</p>
        </div>
      </div> -->
      </div>



           <section class="contact" id="kapcsolat">
            <div class="content">
              <h2 class=" animate__animated animate__backInDown">Kapcsolat </h2>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, aliquam maiores fugit aut culpa accusamus facere ipsum, inventore velit, nisi doloribus voluptatum maxime laboriosam consequuntur.</p>
            </div>
            <div class="container">
              <div class="contactInfo">
                <div class="box">
                  <div id="icons" class=" animate__animated animate__backInDown" class=" animate__animated animate__backInDown"><i class='bx bx-map'></i></div>
                  <div class="text">
                    <h3>Település</h3>
                    <p> <strong>IX.Kerület Budapest </strong> Távíró utca</p>
                  </div>
                </div>
                <div class="box">
                  <div id="icons" class=" animate__animated animate__backInDown"><i class='bx bx-phone' ></i></div>
                  <div class="text">
                    <h3>Telefonszám, WhatsApp</h3>
                   <a  href="!#" (click)="openWhatsApp()"> <p>+36 (30) 174 0806</p></a>
                  </div>
                </div>
                <div class="box">
                  <div id="icons" class=" animate__animated animate__backInDown"><i class='bx bx-envelope' ></i></div>
                  <div class="text">
                    <h3>Email</h3>
                    <a  href="mailto:megyko1234@gmail.com"><p>megyko1234@gmail.com</p></a>
                  </div>
                </div>
              </div>

              <div class="contactForm">
                <form [formGroup]="form" (ngSubmit)="sendmail()">
                  <h2>
                    üzenetet
                  </h2>
                  <div class="inputBox">
                    <input type="text" formControlName="name" placeholder="Neved" required="required"/>
                    <span>Neved</span>
                  </div>
                  <div class="inputBox">
                    <input type="text" formControlName="email" placeholder="Email" required="required"/>
                    <span>Email</span>
                  </div>
                  <div class="inputBox">
                    <input type="text"  formControlName="subject" placeholder="Üzenet tárgya"required="required" />
                    <span>Üzenet tárgya</span>
                  </div>
                  <div class="inputBox">
                    <input type="text"  formControlName="tel" placeholder="Telefonszám" required="required"/>
                    <span>Telefonszám</span>
                  </div>

                  <div class="inputBox">
                    <textarea  class=inputFT formControlName="message"
                    required="required" placeholder="Írj saját üzenetet"></textarea>
                    <span>Írj saját üzenetet</span>
                  </div>
                  <button type="submit" class="btn btn-outline-primary">Küldés</button>
                </form>
              </div>


            </div>

           </section>
  </body>
  <app-scroll-to></app-scroll-to>
  </html>
