
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@300&family=Noto+Sans:wght@100&family=Righteous&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

}

body {
  background:url("/assets/hd.jpg");
  color: rgb(255, 255, 255);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-container {
  display: flex;
  padding: 25px 10%;
  justify-content: center;
  align-items: center;
}

.hero-container .info-side h3 {
  font-size: 30px;
  font-weight: 700;
  margin: 10px 0;
  letter-spacing: 1px;
}

.hero-container .info-side .part-1 {
  animation: part1 1s ease forwards;
  opacity: 0;
}

.hero-container .info-side .part-2 {
  animation: part2 1s ease forwards;
  opacity: 0;
}

.info-side {
  flex: 1;
}

.info-side h1 {
  font-size: 75px;
  letter-spacing: 1px;
  font-weight: 700;
  animation: slideRight 0.5s ease forwards;
  opacity: 0;
  animation-delay: 1s;
}

.info-side h3 span {
  color: #0ed;
}

.info-side p {
  line-height: 27px;
  margin: 20px 0px 40px 0px;
  display: flex;
  animation: slideLeftP 1s ease forwards;
  opacity: 0;
  animation-delay: 1.2s;
}



.social i {
  position: relative;
  border: 2px solid #0ed;
  padding: 25px;
  color: #0ed;
  border-radius: 50%;
  transition: 0.3ms;
  margin: 0px 8px;
  animation: socialI 1s ease forwards;
  animation-delay: calc(.3s * var(--i));
  opacity: 0;

}
.services{
  // margin-bottom: 13px;
  // margin-top: 13px;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  justify-content: center;
  align-items: center;
}
.services .firstjob{
  margin-top: 25px;
  margin-left: 32px;
  width: 380px;
  height: 400px;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 15px;
  background: rgb(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);
  background: url("/assets/wallper.jpg");
  background-size: cover;

}
.services .firstjob h2{
  color: #0ed;
  font-size: 1.8rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  z-index: 1;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 15px;
  background: rgb(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);
  z-index: 1;
}
.services .firstjob .content {
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}
.services .firstjob:hover .content {
  transform: translateY(0px);
  opacity: 1;
}
.services .firstjob .content p{
  font-size:23px;
  z-index: 1;
  color: #92400e;

}
.services .firstjob:hover  h2{
  display: none;
  background: black;

}
.services .firstjob:hover{
  background: #fed7aa;

}

.social button {
  background-color: #0ed;
  margin-top: 50px;
  padding: 20px 70px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
  box-shadow: 0 0 15px #0ed;
  animation: sludeUP 1s ease forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

.social i:hover {
  box-shadow: 0 0 20px #0ed;
}

// form{
//   margin: 35px;


// }
// .inputF{
//   width: 400px;
//   height: 40px;
//   margin-top: 20px;
//   margin-left: 10px;
//   margin-right: 10px;
//   border: 1px solid #777;
//   border-radius: 14px;
//   outline: none;

// }.inputFT{
//   width: 100%;
//   height: 150px;
//   margin-top: 10px;
//   border-radius: 15px;
// }
// .contant-box{
//   width: 500px;
//   background-color: white;
//   box-shadow:0 0 20px 0 #999 ;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%,-50%);
//   position: absolute;
// }
// button{
// background-color: red;
// padding: 10px;
//   font-size: 1.1em;
//   outline: none;
//   border: 1px solid  black;
//   width: 100%;
// }

.contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("/assets/wallper.jpg");

}
.contact .content{
  max-width: 800px;
  text-align: center;
}
.contact .content h2{
font-size: 36px;
font-weight: 500;
color: wheat;
}
.contact .content h2{
  font-weight: 300;
  color: red;
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container .contactInfo .box{
  position: relative;
  padding: 20px 0 ;
  display: flex;

}
.container .contactInfo .box .icon{
  min-width: 60px;
  height: 60px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container .contactInfo .box .icon .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: red;
  flex-direction: column;
  font-weight: 300;
}
.container .contactInfo .box .icon .text h3{
  font-weight: 500;
  color: blue;
}
.social button:hover {
  box-shadow: 0 0 20px #0ed;
}
.contactForm{
  width: 40%;
  padding: 40px;
  background: white;
}
.contactForm h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;

}
.contactForm .inputBox input, textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin:  10px 0;
   border: none;
   border-bottom: 2px solid #333;
   outline: none;
   resize: none;
}
.contactForm .inputBox  span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin:  10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;

}
.contactForm .inputBox   input:focus~span,
.contactForm .inputBox   input:valid~span,
.contactForm .inputBox   textarea:focus~span,
.contactForm .inputBox   textarea:valid~span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);

}
// Animáció

@keyframes slideLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes navMenu {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes part1 {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes part2 {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeftP {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes socialI {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes sludeUP {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIN {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}



@media screen and (min-width: 1200px) {
  .hero-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  // .info-side  {
  //   flex: 1;
  //   margin-right: 50px;
  // }

  // .hero-img {
  //   flex: 1;
  //   text-align: right;
  // }

  // .hero-img img {
  //   width: 100%;
  //   max-width: 500px;
  //   margin-top: 0;
  //   margin-left: 20px;
  // }
}


@media screen and (max-width: 800px){
  .hero-container{
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .services > div {
    width: 100%;
    align-items: center;
    justify-content:  center;
  }
  .services{
    display: flex;
    margin-left: -32px;
  }


}



@media screen and (max-width:350px ) {
  .hero-container {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  // .hero-img img{
  //   display: none;
  // }

}
@media screen and (max-width: 450px) {
  .hero-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  // .hero-img img {
  //   margin: 0  auto;
  //   display: block;
  //   width: 250px;
  //   justify-content: center;
  //   align-items: center;
  //}
  .social button{
    margin-bottom: 15px;
  }


}
@media(max-width:991px){
  .contact{
    padding: 50px;
  }
  .container{
    flex-direction: column;
  }
  .container .contactInfo{
    margin-bottom: 40px;
    width: 100%;
  }
  .contactForm{
    width: 100%;
  }
}
// .contactUs{
//   position: relative;
//   width: 100%;
//   padding: 25px 100px;
// }


// .contactUs .title{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-size: 2rem;
// }
// .contactUs .title h2{
//   font-weight: 500;

// }

// .box{
//   position: relative;
//   display: grid;
//   grid-template-columns: 2fr 1fr;
//   grid-template-rows: 1fr 1fr;
//   grid-template-areas: "form info";
//   grid-gap: 10px;
//   margin-top: 20px;
// }


// .form {
//   grid-area: form;
// }
// .info {
//   grid-area: info;
// }
// // .map {
// //   grid-area: map;
// // }
// .contact{
//   padding: 30px;
//   border-top: 3px solid rgba(255,255,255,0.5);
//   border-left: 3px solid rgba(255,255,255,0.5);
//   border-bottom: 3px solid rgba(255,255,255,0.5);
//   border-right: 3px solid rgba(255,255,255,0.5);
//   box-shadow: 0 5px 35px rgba(0,0,0,0.15);

// }
// .contact h3{
//   color: red;
//   font-weight: 500;
//   font-size: 1.4rem;
//   margin-bottom: 10px; ;
// }



// .formBox{
//   position: relative;
//   width: 100%;

// }
// .formBox .row50{
//   display: flex;
//   gap: 20px;
// }

// .inputBox{
//   display: flex;
//   flex-direction: column;
//   margin-bottom: 10px;
//   width: 50%;
// }
// .formBox .row100 .inputBox{
//   width: 100%;
// }

// .inputBox span{
//   color:#0ed;
//   margin-top: 10px;
//   margin-bottom: 5px;
//   font-weight: 500;
// }
// .inputBox input, button{
//   padding: 10px;
//   font-size: 1.1em;
//   outline: none;
//   border: 1px solid  black;
// }

// .inputBox textarea{
//   padding: 10px;
//   font-size: 1.1em;
//   outline: none;
//   border: 1px solid  black;
//   resize: none;
//   min-height: 220px;
//   margin-bottom: 10px;

// }
// // .inputBox input[type="submit"]{
// //   background: #0ed;
// //   color: wheat;
// //   border: none;
// //   font-size: 1.1em;
// //   max-width: 120px;
// //   font-weight: 500;
// // }

// .inputBox ::placeholder{
//   color: purple;
// }

// .info {
//   border-top: 3px solid rgba(255,255,255,0.5);
//   border-left: 3px solid rgba(255,255,255,0.5);
//   border-bottom: 3px solid rgba(255,255,255,0.5);
//   border-right: 3px solid rgba(255,255,255,0.5);
//   box-shadow: 0 5px 35px rgba(0,0,0,0.15);
// }
// .info h3{
//   color: white;
//   justify-content: center;
//   align-items: center;
//   display: flex;
// }
// .info .infoBox div {
//   display: flex;
//   align-items: center;
//   margin-bottom: 10px;
//   padding: 12px;

// }
// .info .infoBox div span{
// min-width: 40px;
// margin-right: 12px;
// height: 40px;
// background: #0ed;
// display: flex;
// align-items: center;
// font-size: 1.5em;
// border-radius: 50%;
// justify-content: center;
// color: black;
// }
// .info .infoBox div
// a , p{
//   color: red;
//   text-decoration: none;
//   font-size: 1.1em;

// }

// .info .infoBox .socials i{

//   position: relative;
//   border: 2px solid #0ed;
//   padding: 25px;
//   color: #0ed;
//   border-radius: 50%;
//   transition: 0.3ms;
//   margin: 0px 8px;
//   animation: socialI 1s ease forwards;
//   animation-delay: calc(.3s * var(--i));
//   opacity: 0;
// }
// .info .infoBox  i:hover {
//   box-shadow: 0 0 20px #0ed;
// }
// // .map{
// //   padding: 0;
// // }

// // .map iframe{
// //   width: 100%;
// //   height: 100%;
// // }


// .info .img img{
//   border-radius: 50%;
//   width: 50%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// @media(max-width:991px){
//    .contactUs{
//     display: inline-block;
//     padding: 0;
//    }
//    .box{
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     grid-template-columns: 0.5fr;
//     grid-template-rows: auto;
//     grid-template-areas: "form"
//      "info"


//    }
//    .box h3{
//     display: none;
//    }
//   //  .map{
//   //   justify-content: center;
//   //   align-items: center;
//   //   display: flex;
//   //   flex-direction: column;
//   //  }


//    .formBox .row50{
//     display: flex;
//     gap: 0;
//     text-decoration: column;

//    }

//    .infoBox{
//     width: 100%;
//    }
//    .info{
//     overflow: auto;
//    opacity: 0.9;
//     justify-content: center;
//     align-items: center;
//     display: flex;
//    }



// }
