
<router-outlet></router-outlet>



<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>




</body>

<!-- Footer -->
<footer >
  <section class="">
    <div class="">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class='bx bxs-face'> <br> Megyeri Márk Máté</i>
          </h6>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi vero mollitia, nostrum maiores nesciunt nulla.
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Tapasztalat
          </h6>
          <p>
            <a href="#!" class="text-reset">Lorem1</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Lorem1</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Lorem1</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Lorem1</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <h6 class="text-uppercase fw-bold mb-4">
          További tudnivalók
          </h6>

          <p>
            <a href="#!" class="text-reset">Segítség</a>
          </p>
        </div>



      </div>

    </div>
  </section>

  <div class="text-center p-4" style="background-color: wheat;">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://github.com/megyerimark"
    style="background-color: wheat;" target="https://github.com/megyerimark">Megyeri Márk Máté</a>
  </div>

</footer>



</html>





