
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f242d;
}


footer{
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  // background:linear-gradient(10deg,#07d2fb, #0819b5, #21fcc7);

}
footer section{
  display: flex;
  justify-content: center;
  align-items: center; /* középre igazítás */
  padding: 1.5rem;
  border-bottom: 1px solid #dee2e6;
  // color:linear-gradient(25deg,#07d2fb, #0819b5, #21fcc7);
color: wheat;


}



